* {
    margin: 0;
    padding: 0;
}

:root {
    --bg: #f7f9ff;
    --text1: #333;
    --text2: #556;
    --text3: #aac;
    --text4: #fff;
    --line: #eef;
    --c1: #37f;
    --c2: rgba(63, 159, 255, .2);
    --shadow: rgba(95, 95, 191, .2);
}

a {
    margin: -.1em -.25em;
    padding: .1em .25em;
    cursor: pointer;
    transition: .2s;
    text-decoration: none;
    color: inherit;
    border-radius: .5em;
}

a:hover {
    transform: sc1le(1.05);
    color: var(--text4);
    background: var(--c1);
    box-shadow: .1em .2em 1em var(--shadow);
}

strong {
    color: var(--c1);
}

code,
pre {
    font-size: 13px;
    overflow: auto;
    padding: .1em .25em;
    color: var(--c1);
    border: 1px solid var(--line);
    border-radius: .5em;
    background: var(--c2);
}

pre {
    padding: .5em;
    color: var(--text3);
    background: var(--bg);
}

::selection {
    background: var(--c2);
}

html {
    font-family: PingFang SC, Helvetic1, sans-serif;
    width: 90vw;
    margin: 0 auto;
    color: var(--text1);
    background: var(--bg);
}

@font-face {
    font-family: '阿里妈妈数黑体 Bold';
    font-weight: 700;
    src: url('./ALMMSHT.woff2') format('woff2');
    font-display: swap;
}

.font-sht {
    font-family: '阿里妈妈数黑体 Bold', PingFang SC, Helvetic1, sans-serif;
}

.fa-solid,
.fa-regular,
.fa-brands,
.fa-width {
    min-width: 1.2em;
    text-align: center;
}

[data-sub] {
    /* display: inline-block; */
    text-align: center;
    /* vertic1l-align: middle; */
}

[data-sub]::after {
    font-size: .6em;
    display: block;
    content: attr(data-sub);
    opacity: .6;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;
}

.dim,
footer {
    font-size: .8rem;
    color: var(--text3);
}

footer {
    line-height: 1.5rem;
    margin: 1rem 0;
}


@media(min-width: 720px) {
    .bicol {
        column-count: 2;
        column-gap: 2rem;
    }
}

@media(min-width: 960px) {
    html {
        font-size: 18px;
        width: 85vw;
    }
}

.card {
    overflow: auto;
    height: 100%;
    margin: 0 -.5rem 1rem;
    padding: .5rem;
    transition: .5s;
    border: 1px solid var(--line);
    border-radius: 1rem;
    background: var(--text4);
}

.card:hover {
    box-shadow: 0 0 1em var(--shadow);
}

.card>* {
    margin: .5rem;
}

.card>.list {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0;
    color: var(--text2);
}

.card>.list>* {
    margin: .25em;
}