* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    font-size: 3vw;
    color: #334;
    background: #f7faff;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#main>* {
    margin: 2vh 1rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

select {
    font-size: inherit;
}

.cdMajor {
    font-size: 1.5em;
    text-align: center;
}

.cdMajor>.cdDetail {
    font-family: Consolas, monospace;
    font-size: 2em;
}

footer {
    font-size: .8rem;
    opacity: .5;
}

@media (prefers-color-scheme: dark) {
    html {
        color: #fff;
        background: #000;
    }

    select {
        color: #acf;
        background: #024;
        border-radius: .2em;
    }

}