/* 作者：纸鹿/Zhilu (github.com/L33Z22L11)
 * 对于 hexo-theme-stellar 的一些修补，
 * 优化了一些样式，使用 WTFPL 协议开源。
 */

/* 博客子标题：字体大小修复 */
.cap {
  font-size: .8rem;
}

/* 导航栏：高亮图标下划线使用图标颜色 */
.nav-area .menu .nav-item.active:after {
  background: currentColor;
}

/* 侧边栏最近更新列表：行距修正，防止字母下部被裁切 */
.widget-wrapper.post-list .widget-body a {
  line-height: inherit;
}

/* 侧栏 Markdown：修复标题间距过大 */
.widget-wrapper.markdown>.widget-body>* {
  margin: .8em 0;
}

/* 侧栏 Markdown：修复列表边距过大 */
.widget-wrapper.markdown>.widget-body>ul {
  padding-left: .8em;
}

/* 侧栏 Markdown：重定义列表标记框 */
.widget-wrapper.markdown>.widget-body>ul>li::marker {
  content: '- ';
}

/* 侧栏 Markdown：修改链接样式 */
.widget-wrapper.markdown .widget-body a:not([class]) {
  border-bottom: none;
}

/* 侧栏 Markdown：修改链接样式 */
.widget-wrapper.markdown .widget-body a:not([class]):hover {
  color: var(--theme-link);
  border-bottom: none;
}

/* 侧栏切换按钮：阴影不使用主题颜色 */
.l_body[leftbar] .float-panel,
.l_body[rightbar] .float-panel {
  box-shadow: 0 0 1em var(--text-p4)
}

/* 侧栏切换按钮：高亮按钮背景半透明 */
.l_body[leftbar] .float-panel button.leftbar-toggle,
.l_body[rightbar] .float-panel button.rightbar-toggle {
  background: var(--alpha75)
}

/* 文章卡片：深色模式阴影使用不那么明亮的主题颜色 */
@media (prefers-color-scheme: dark) {
  .post-list .post-card:hover {
    box-shadow: 0 0 1em var(--theme-link-opa);
  }
}

/* 文章卡片：限制图片最大高度 */
.post-list .post-card.post.photo .cover img {
  max-height: 256px;
}

/* 文章卡片：图片悬浮变得不那么暗 */
.post-list.post .post-card:hover img {
  filter: brightness(75%);
}

/* 页脚 Sitemap：背景动画、圆角大小修正 */
.page-footer a {
  border-radius: 4px;
  transition: background .2s;
}

/* 文章 Banner：长宽比改为2:1 */
.article.banner .bg+.content {
  aspect-ratio: 2;
}

/* 文章内链接：链接不使用文本颜色，下划线半透明 */
li:not([class]) a:not([class]),
p:not([class]) a:not([class]),
table a:not([class]) {
  color: var(--theme-link);
  background: linear-gradient(0, var(--theme-link-opa), var(--theme-link-opa)) no-repeat center bottom / 100% 2px;
}